/* Estilo para el contenedor del navbar */
.navbar-container {
  margin-bottom: 0px; /* Agrega margen inferior para separar del contenido siguiente */
}

/* Estilo para el contenedor del logo */
.logo-container {
  margin-top: 30px; /* Agrega margen superior para separar del navbar */
  margin-bottom: 30px; /* Agrega margen inferior para separar del contenido siguiente */
}

/* Estilo para el contenedor de la tabla de películas */
.movies-container {
  max-width: 90%;
  margin: 0 auto;
  margin-top  : 20px; /* Margen superior */
  padding: 20px; /* Espaciado interno para separar el contenido del borde */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  border-collapse: collapse; /* Colapso de bordes de celdas */
  margin-bottom: 20px;
}

/* Estilo para la tabla */
.table {
  max-width: 80%; /* Establece el ancho máximo de la tabla */
  margin: 0 auto; /* Centra la tabla en el contenedor */
  background-color: #fff; /* Color de fondo de la tabla */
  border-collapse: collapse; /* Colapso de bordes de celdas */
  border-radius: 20px; /* Bordes redondeados */

}

.table th,
.table td {
  padding: 10px; /* Espaciado interno en celdas */
  text-align: center; /* Alineación centrada del texto */
}

/* Estilo para las filas impares de la tabla */
.table tbody tr:nth-child(odd) {
  background-color: #7f7f7f; /* Color de fondo para filas impares */
}

/* Estilo para las filas al pasar el ratón */
.table tbody tr:hover {
  background-color: #e0e0e0; /* Color de fondo al pasar el ratón */
  cursor: pointer; /* Cursor de apuntar al pasar el ratón */
}

/* Estilo para los encabezados de la tabla */
.table th {
  background-color: #343a40; /* Color de fondo del encabezado */
  color: #fff; /* Color del texto del encabezado */
}

/* Estilo para el texto de los enlaces en las celdas de la tabla */
.table a {
  text-decoration: none; /* Sin subrayado en enlaces */
  color: #007bff; /* Color del enlace */
  font-weight: bold; /* Texto en negrita */
}

/* Estilo para el texto de los enlaces al pasar el ratón */
.table a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}


/* Estilo para la tabla en dispositivos móviles */
@media (max-width: 768px) {
  .table {
    font-size: 14px;
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.App-logo {
  animation: zoom 4s ease-in-out infinite;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.form {
  width: 50%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cards{
  transform: scale(0.9);
}

.cards p {
  font-size: 18px;
}

.cards h2 {
  font-size: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card{
  padding: 20px;
  margin-right: 0px;;
}

.formulario{
  background: #f5f5f5;

}

.formulario-popup{
  background: #f5f5f5;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards-container{
  margin-bottom: 40px;
  justify-content: space-between;
  display: flex; /* Utilizamos flexbox para alinear las tarjetas horizontalmente */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en filas si no caben en una sola línea */

}


.subtitulos-h3{
  margin-bottom: 25px;
  margin-top: 25px;
}

.presentation{
  margin-top: 20px;
  margin-bottom: 20px;  
}

.container-home{
  padding: 20px;
}

.acciones{
  justify-content: center;
  align-items: center;

}

.formulario{
  width: 100%;
}